<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TasksApp</title>
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="tasks/static/css/task.css">

    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="center-column">
            <form method="POST" action="/">
              {% csrf_token %} {{form.title}}
              <input class="btn btn-primary submit" type="submit" name="Create Task"/>
            </form>
            
            <div class="todo-list">
              {% for task in tasks %}
              <div class="item-row">
                <a
                  class="btn btn-sm btn btn-secondary"
                  href="#"
                  >Edit Items
                </a>
                <a
                  class="btn btn-sm btn btn-danger"
                  href="#"
                  >Delete Items
                </a>

                {% if task.complete == True %}
                <strike>{{task}}</strike>
                {% else %}
                <span>{{task}}</span>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
  